* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --size: 1.2;
}

.command {
    cursor: pointer;
}



html,
body {
    height: 100%;
    width: 100%;
    z-index: 0;
    scroll-behavior: smooth;
    cursor: url('cursor.png'), auto;
}

a{
    cursor: url('tap.png'), pointer;
}

.container{
    margin: 0 10vw;
}


#home {
    position: relative;
    height: 100vh;
}

#about {
    height: 80vh;
    width: 100vw;
    /* background-color: indigo; */
}

#technologies {
    height: 100vh;
    width: 100vw;
    /* background-color: orangered; */
}

#projects {
    height: 100vh;
    width: 100vw;
    /* background-color: orangered; */
}

#experience {
    height: 100vh;
    width: 100vw;
    /* background-color: orangered; */
}

#services {
    height: 100vh;
    width: 100vw;
    /* background-color: orangered; */
}

#contact {
    height: 100vh;
    width: 100vw;
    /* background-color: orangered; */
}


@layer utilities {
    .content-auto {
        content-visibility: auto;
    }

    .dark {
        background-color: black;
        color: white;
    }

    .light {
        background-color: white;
        color: black;
    }
}

#msg-block1 {
    animation: updown1 7s infinite;
}

#msg-block2 {
    animation: updown2 9s infinite;
}


#msg-block3 {
    animation: updown3 8s infinite;
}


#msg-block4 {
    animation: updown4 9s infinite;
}

@keyframes updown1 {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateX(-40px);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateX(50px);
    }

    80% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateX(0);
    }

}


@keyframes updown2 {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateX(-40px);
    }

    40% {
        transform: translateY(50px);
    }

    60% {
        transform: translateX(-30px);
    }

    80% {
        transform: translateY(40px);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes updown3 {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateX(-50px);
    }

    40% {
        transform: translateY(30px);
    }

    60% {
        transform: translateX(40px);
    }

    80% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateX(0);
    }

}


@keyframes updown4 {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateX(50px);
    }

    40% {
        transform: translateY(-40px);
    }

    60% {
        transform: translateX(-30px);
    }

    80% {
        transform: translateY(30px);
    }

    100% {
        transform: translateX(0);
    }

}

/* .page-loading{
    animation: page-loader 5s forwards ;
}

@keyframes page-loader {
    0% {
        position: absolute;
        display: block;
        background-color: red;
    }
    100% {
        display: none;
    }
} */


/* Ensure the parent container has a relative position for positioning the pseudo-element */
.nav-link {
    position: relative;
}

/* Style the ::before pseudo-element */
#home-link:hover::before {
    content: 'Home';
    position: absolute;
    top: 100%; /* Place it below the parent element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c; /* Background color for the tooltip */
    color: #f3f7e0; /* Text color */
    padding: 5px 10px; /* Padding for better appearance */
    border-radius: 50px; /* Rounded corners */
    font-size: 0.75rem; /* Smaller font size */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, transform 0.3s ease; /* Smooth animation */
}

/* Show the content with animation on hover */
#home-link:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(15px); /* Slightly move down */
}


#about-link:hover::before {
    content: 'About';
    position: absolute;
    top: 100%; /* Place it below the parent element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c; /* Background color for the tooltip */
    color: #f3f7e0; /* Text color */
    padding: 5px 10px; /* Padding for better appearance */
    border-radius: 50px; /* Rounded corners */
    font-size: 0.75rem; /* Smaller font size */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, transform 0.3s ease; /* Smooth animation */
}

/* Show the content with animation on hover */
#about-link:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(15px); /* Slightly move down */
}

#technologies-link:hover::before {
    content: 'Tools';
    position: absolute;
    top: 100%; /* Place it below the parent element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c; /* Background color for the tooltip */
    color: #f3f7e0; /* Text color */
    padding: 5px 10px; /* Padding for better appearance */
    border-radius: 50px; /* Rounded corners */
    font-size: 0.75rem; /* Smaller font size */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, transform 0.3s ease; /* Smooth animation */
}

/* Show the content with animation on hover */
#technologies-link:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(15px); /* Slightly move down */
}



#projects-link:hover::before {
    content: 'projects';
    position: absolute;
    top: 100%; /* Place it below the parent element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c; /* Background color for the tooltip */
    color: #f3f7e0; /* Text color */
    padding: 5px 10px; /* Padding for better appearance */
    border-radius: 50px; /* Rounded corners */
    font-size: 0.75rem; /* Smaller font size */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, transform 0.3s ease; /* Smooth animation */
}

/* Show the content with animation on hover */
#projects-link:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(15px); /* Slightly move down */
}


#experience-link:hover::before {
    content: 'experience';
    position: absolute;
    top: 100%; /* Place it below the parent element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c; /* Background color for the tooltip */
    color: #f3f7e0; /* Text color */
    padding: 5px 10px; /* Padding for better appearance */
    border-radius: 50px; /* Rounded corners */
    font-size: 0.75rem; /* Smaller font size */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, transform 0.3s ease; /* Smooth animation */
}

/* Show the content with animation on hover */
#experience-link:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(15px); /* Slightly move down */
}

#services-link:hover::before {
    content: 'services';
    position: absolute;
    top: 100%; /* Place it below the parent element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c; /* Background color for the tooltip */
    color: #f3f7e0; /* Text color */
    padding: 5px 10px; /* Padding for better appearance */
    border-radius: 50px; /* Rounded corners */
    font-size: 0.75rem; /* Smaller font size */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, transform 0.3s ease; /* Smooth animation */
}

/* Show the content with animation on hover */
#services-link:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(15px); /* Slightly move down */
}

#contact-link:hover::before {
    content: 'contact';
    position: absolute;
    top: 100%; /* Place it below the parent element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c; /* Background color for the tooltip */
    color: #f3f7e0; /* Text color */
    padding: 5px 10px; /* Padding for better appearance */
    border-radius: 50px; /* Rounded corners */
    font-size: 0.75rem; /* Smaller font size */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, transform 0.3s ease; /* Smooth animation */
}

/* Show the content with animation on hover */
#contact-link:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(15px); /* Slightly move down */
}
